@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.car__wrapper[data-v-53a4c488] {
    transform: translateX(0%);
    transition: all 2s ease-in-out;
    z-index: 1000;
    width: 100%;
}

.purple { 
    color: #6415ff; 
}

.logo__img { 
    height: 40px; 
    width: 150px; 
    margin-left: 28px;
}

.nav__row { 
    display: flex; 
    align-items: center;
    gap: 20px;  
    text-decoration: none;
    justify-content: space-between; 
}

.nav__links { 
    display: flex; 
    list-style: none; 
    gap: 32px;
    text-decoration: none; 
    align-items: center;
    justify-content: space-between; 
}

.nav__links a { 
    text-decoration: none;
    color: black; 
    font-size: 20px;
    font-weight: 600;
    align-items: center; 
}

.nav__link { 
    position: relative; 
}

.nav__link::after { 
    content: "";
    position: absolute; 
    bottom: -2px;
    width: 0; 
    height: 2px;
    background-color: black;
    transition: all 300ms ease; 
    left: 0;
}

.nav__link:hover::after { 
    width: 100%;
}

.btn { 
    background-color: #6415ff; 
    color: white;
    height: 48px; 
    width: 140px;
    border-radius: 999px;
    border: none; 
    font-weight: 700; 
    text-transform: uppercase; 
        box-shadow: 0 8px 16px rgba(100, 21, 255, 0.25);
}

.header__title { 
    font-size: 40px; 
    font-weight: 600; 
    margin-top: 36px;
    text-align: center;
    color: #6415ff;
    max-width: 600px; 
    margin: 0 auto; 

}

.header__subtitle { 
  text-align: center;
    font-size: 30px;
    font-weight: 600;
}

input { 
    background-color: #fff;
    border-radius: 20px; 
    border: 1px solid #0a1f44;
    color: #0a1f44;
    display: inline-block; 
    height: 70px;
    line-height: 40px;
    outline: none; 
    padding: 0 15px;
    width: 50%; 
    font-size: 24px; 
    padding-left: 25px; 
    transition: border-color .2s cubic-bezier(.645, cubic-bezier(0.645, 0.045, 0.355, 1));
    text-align: center;
}

.search { 
    display: flex; 
    justify-content: center; 
    align-items: center;
    
}

svg { 
     background-color: #6415ff;
  color: white;
  height: 70px;
  width: 140px;
  border-radius: 20px;
  border: none;
  margin-left: 16px;
  box-shadow: 0 8px 16px rgba(100, 21, 255, 0.25);
    width: 40px;
}

button { 
    
    background-color: #6415ff;
  color: white;
  height: 70px;
  width: 70px;
  border-radius: 16px;
  border: none;
  margin-left: 16px;
  box-shadow: 0 8px 16px rgba(100, 21, 255, 0.25);
}

.header__overlay { 
    display: flex; 
    justify-content: center;
    align-items: center;
    
}

.header__img { 
    width: 300px;
    height: 250px;
    margin-top: 38px;
    margin: auto;
}

.nav__link { 
    position: relative;
}

.nav__link::after { 
    content: '';
    position: absolute;
    width: 0;
    bottom: -2px;
    left: 0;
    height: 5px;
    transition: all 300ms ease;
}

.nav__linlk:hover::after { 
    width: 100%;
    background-color: #6415ff;
}

.fade-In-text { 
    font-family: arial; 
    animation: fadeIn 5s;
}

@keyframes fadeIn { 
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.loaderbutton {
 height: 70px; 
 width: 140px; 
 background: #3e52c1;
 border: none; 
 color: #fff; 
 border-radius: 8px; 
 cursor: pointer; 
 font-size: 18px; 
 font-weight: 600; 
 position: relative; 
 display: flex; 
 align-items: center;
 justify-content: center;
}

.loaderbutton::after {
  content: '';
  display: block;
  width: 1.1em;
  height: 1.1em;
  position: absolute;
  left: calc(50% - 0.75em);
  top: calc(50% - 0.75em);
  border: 0.2em solid transparent;
  border-right-color: white;
  border-radius: 50%;
  animation: loader-animation 0.7s linear infinite;
  opacity: 0;
}

@keyframes loader-animation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.loaderbutton.loading {
  color: transparent;
}

.loaderbutton.loading::after {
  opacity: 1;
}

